<h1>Hello</h1>

<body class="basee">
    <h2>la bannière fullscreen</h2>

    <div class="banner fullscreen bg-audience">
      <h1>PREMIERE PAGE</h1>
      <h2>pour de jolies pages</h2>
    </div>
    <h2>la petite bannière</h2>