<h1>Orders</h1>

<div id="orders">
  <% @orders.each do |order| %>
    <p>Commande du <%= order.created_at.strftime('%d %B %Y à %Hh%M') %> pour un total de <%= order.total_price %>€
      <%= link_to "Show this order", order %>
    </p>
  <% end %>
</div>

<%= link_to "New order", new_order_path %>
