/* Importing your file */

/*
*= require navbar
*= require show
*= require index
*= require list_items
*= require footer
*= require form
*= require index
*= require sign_up
*/

/* -------------- General ----------------- */

body {

  margin: 0;
  padding: 0;
 
}


/*--------------------
html, body{
  height: 100%;
}

main{
  min-height: 100%;
}


/*--------------------
