body {
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-flow: column;
}

body>main {
  overflow-y: auto;
}

.flash-message {
  position: absolute;
  border: 1px solid black;
  padding: 1em;
  border-radius: 1em;
  background: lightblue;
  left: 50%;
  transform: translateX(-50%);
}

.flash-message.notice {
  background: lightgreen;
}

.flash-message.alert {
  background: coral;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  justify-content: space-evenly;
  margin-bottom: 80px;

}

.card {
  margin: 10px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  width: 300px;
}

.card-header img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
  min-height: 100px;
}

.card-body p {
  font-size: 13px;
  margin: 0 0 40px;
}

.card-button {
  width: 150px;
  height: 30px;
  padding: 12px 18px;
  text-align: center;
  border: 2px solid black;
  border-radius: 8px;
  text-decoration: none;
}

.card-button:active {
  text-decoration: none;
  color: black;
}

.card-button:visited {
  text-decoration: none;
  color: black;
}

.card-button:hover {
  width: 180px;
  height: 40px;
  padding: 15px 22px;
  border: 2px solid black;
  border-radius: 8px;
  text-decoration: none;
  background-color: rgb(217, 217, 30);
  transition: all .5s;

}





.header-index {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    ". . ."
    ". . sentence"
    ". . cta-button";
  background-image: url(cat.jpeg);
  background-size: cover;
  resize: both;
  background-repeat: no-repeat;
  background-position: center;
  height: 60%;
}

.sentence {
  grid-area: sentence;
  color: antiquewhite;
  display: flex;
  justify-content: center;
  margin-right: 10%;
}

.cta-button {
  display: flex;
  grid-area: cta-button;
}